h1{
	font-weight: normal;
	color: #DD0000;
	font-family: "Lato";
}

.redlink{
	color: #DD0000;
	font-family: "Lato";
}

.continue{
	color: #DD0000;
	font-family: "Lato";
	text-align: right;
	font-weight: bold;
	width: 720px;
}

a{
	color: #DD0000;
	font-family: "Lato";
}

a:hover{
	color: #aa0000;
}

#container{
	padding: 54px;


}

p{
	color: #444444;
	font-family: "Lato";
}

.graylinks{
	color: #dddddd;
	font-family: "Lato";
	padding-top: 15px;
}

h2{
	font-weight: normal;
	font-family: "Lato";
}

h3{
	font-weight: normal;
	font-family: "Lato";
}

#brooklynstreet{
	padding-bottom: 10px;
	border-bottom: solid #dddddd 2px;
	width: 720px;
}

h5{
	margin-top: 30px;
	border-top: solid #dddddd 2px;
	margin-bottom: 30px;
	width: 720px;
}

.summary{
	width: 720px;
	color: #444444;
	font-family: "Lato";
}

.graytop
	{
	color: #dddddd;
}
