body {
	background-image: url("http://vignette2.wikia.nocookie.net/zelda/images/8/85/Heart_Container_(Ocarina_of_Time_and_Majora's_Mask).png/revision/latest?cb=20091220215822");
}

nav{
	background-color: #DB3A4D;
}

#ganonpic {
	text-align: center;
}

a{
	text-decoration: none;
	font-size: 20px;
	color: black;
}

h1{
	text-align: center;
}

#margin{
	width: 90%;
	margin: 0 auto;
}

#littleabout{
	border-bottom: 2px solid black;
}

#about{
	border-bottom: solid black 2px;
	
}

section{
	background-color: rgba(175, 80, 80, 0.5);
	background: rgba(175, 80, 80, 0.5);
	color: black;
	padding: 20px;
}