body {
	background-image: url("http://www.webweaver.nu/clipart/img/holidays/valentines/hearts/row-of-hearts.png");
}

nav{
	background-color: #DB3A4D;
}

#ganonpic {
	text-align: center;
}

a{
	text-decoration: none;
	font-size: 20px;
	color: black;
}

h1{
	text-align: center;
}

#margin{
	width: 90%;
	margin: 0 auto;
}

#littleabout{
	border-bottom: 2px solid black;
}

#about{
	border-bottom: solid black 2px;
}